# Zavisnosti (Dependencies) - najbitnije!
node_modules/

# Log fajlovi
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables (ako budes imao .env fajl sa lozinkama)
.env

# Windows specific
Thumbs.db
desktop.ini

# VS Code folder sa podesavanjima
.vscode/